.table-view .column-header .label {
    -fx-text-fill: #F7E7CE;
    -fx-font-weight: bold;
    -fx-background-color: #36454F;
    -fx-border-color: #F7E7CE;
}

.table-view .show-hide-columns-button {
    -fx-background-color: #F7E7CE;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 -1 0 0;
}

.table-view .table-row-cell {
    -fx-background-color: linear-gradient(#36454F 0%, #F7E7CE 10%, #F7E7CE 90%);
}

.table-view:row-selection .table-row-cell:selected .table-cell {
    -fx-background-color: #36454F;
}

.table-view .table-cell{
    -fx-font-weight:bold italic;
    -fx-font-size:15px;
    -fx-font-family: Verdana;
}